PROJECT_NAME="NextGen FastAPI Bank"
PROJECT_DESCRIPTION="Welcome to Next Generation of banking with FastAPI"
API_V1_STR="/api/v1"
SITE_NAME="NextGen Banking"
#DOMAIN="api.devpulse.org"
#DATABASE
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="Postgres$123#"
POSTGRES_DB="postgres"
POSTGRES_HOST="app-prod-postgres.cgfoi02w2kbl.us-east-1.rds.amazonaws.com"
POSTGRES_PORT="5432"
DATABASE_URL="postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"

MAIL_FROM="noreply@gmail.com"
MAIL_FROM_NAME="NextGen Banking"
CELERY_FLOWER_USER="admin"
CELERY_FLOWER_PASSWORD="admin"
CELERY_BROKER_URL="amqps://admin:admin@123b-9b16dd7f-f8a1-43cb-8494-e062b906c447.mq.us-east-1.on.aws:5671//"
CELERY_RESULT_BACKEND="redis://redis-cache-nihzpq.serverless.use1.cache.amazonaws.com:6379/0"
SIGNING_KEY=""
BANK-CODE="211"
BANK_BRANCH_CODE=""
CURRENCY_CODE_USD=""
CURRENCY_CODE_EUR=""
CURRENCY_CODE_GBR=""
CURRENCY_CODE_KES=""
#ML Flow Configuration
MLFLOW_TRACKING_URL="http://mlflow:4000"
MLFLOW_EXPIREMENT_NAME="fraud_detection"
MLFOLW_MODEL_REGISTRY_NAME="fraud_detection_models"
MLFLOW_BACKEND_STORE_URI="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"
MLFLOW_ARTIFACTS_DESIGNATION="/mlflow/artifacts"

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

#API_BASE_URL="http://${DOMAIN}"
JWT_SECRET_KEY=""
SUPPORT_EMAIL=""
REDIS_HOST="redis-cache-nihzpq.serverless.use1.cache.amazonaws.com"
REDIS_PORT="6379"
REDIS_DB="0"
RABBITMQ_HOST="123b-9b16dd7f-f8a1-43cb-8494-e062b906c447.mq.us-east-1.on.aws:5671"
RABBITMQ_PORT="5672"
RABBITMQ_USER="admin"
RABBITMQ_PASSWORD="admin@123"
